.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-SemiBold.ttf");
   }

@font-face {
    font-family: "Roboto-bold";
    src: url("./font/Roboto-Bold.ttf");
   }

@font-face {
    font-family: "Roboto-italic";
    src: url("./font/Roboto-Italic.ttf");
   }

  @font-face {
    font-family: "Roboto-regular";
    src: url("./font/Roboto-Regular.ttf");
   }
   
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    color: #61dafb;
}

main{
    background-color: #E7E7E7;
}

html{
    background-color: #E7E7E7;
}

.menuCol{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5em;
}

.menuRow{
    width: 100%;
    padding: 1em;
}

.menuLink::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
.menuLink:hover::after {
    width: 100%;
    left: 0;
}

.menuLink {
    font-family: 'Poppins';
    font-size: 14px;
    text-decoration: none;
    color: #000;
    position: relative;
    padding: 5px;
    transition: 0.2s;
}
  
.menuLink:hover {
    color: #000;
}
.menuLink:active {
    color: #878787;
}


.boxContainer{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxContainer:hover{
    background-color: #DEDEDE;
}

.boxRow{
    width: 100%;
    padding: 1em;
}

.dashedPrice{
    color: #02130E;
    font-family: 'Roboto-regular';
    font-size: 12px;
    text-decoration: line-through;
}

.regularText{
    color: #02130E;
    font-family: 'Roboto-bold';
    font-size: 14px;
}

.subtitleText{
    font-family: 'Roboto-italic';
    font-size: 12px;
    color: #ABB0AF;
}

.subtitleText_green{
    font-family: 'Roboto-italic';
    font-size: 12px;
    color: #10BC91;
}

.subtitleBlock{
    display: flex;
    justify-content: center;
    align-content: center;
}

.subtitleBottom{
    font-family: 'Roboto-italic';
    font-size: 12px;
    color: #02130E;
    text-align: center;
    padding: 1em;
}

.lockSVG{
    max-width: 16.15px;
}

.boltSVG{
    max-width: 15px;
}

.formAdjust{
    width: 100%;
}

.validationBox{
    background-color: #fff;
    padding: 1em;
    display: flex;
    justify-content: end;
}

.buttonStyle{
    background-color: #10BC91!important;
    border-color: #10BC91!important;
    font-family: Roboto-Bold;
    font-size: 14px;
}

.buttonStyleOff{
    background-color: grey!important;
    border-color: grey!important;
}

.backButton{
    font-family: "Roboto-bold";
    font-size: 14px;
    padding-right: 2em;
    cursor:pointer;
    color: #02130E;
    text-decoration: none;
}

.modalTitle{
    font-size: 32px;
    font-family: Poppins;
    color: #000;
    padding: 0.5em;
}

.btn-close{
    margin-bottom: 4em!important;
    margin-right: 1em!important;
}

.modalBox {
    display:flex;
    align-items: center;
    justify-content: center;
}

.mandatText{
    padding: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #F8F8F8;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 12px;
    font-family: Roboto-regular;
}

.subtitleForm{
    font-family: "Roboto-regular";
    font-size: 14px;
}

.inputForm{
    font-family: "Roboto-italic";
    font-size: 12px;
    color: #ABB0AF;
}

.dropdownForm{
    display:flex!important;
    width:100%;
    background-color: white!important;
    border-color: #D9D9D9!important;
    color: #212529!important;
    font-size: 12px!important;
    font-family: Roboto-italic;
    padding: 0.7em!important;
    display: flex;
    justify-content: space-between;
}

.dropdownForm:focus{
    color: #212529!important;
    background-color: #fff!important;
    border-color: #86b7fe!important;
    outline: 0!important;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)!important;
}
.dropdown-toggle::after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid!important;
    border-right: 0.4em solid transparent!important;
    border-bottom: 0!important;
    border-left: .4em solid transparent!important;
    margin-top: 0.5em!important;
    margin-right: 0.5em!important;
}
::-webkit-input-placeholder {
 font-size: 12px!important;
}

:-moz-placeholder { 
    font-size: 12px!important;
}
::-moz-placeholder {  
    font-size: 12px!important;
}

.redText{
    color: #E1280C;
}